/* login */
#det {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #eef1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: #fff;
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.btn {
    width: 95%;
    padding: 10px;
    background: #4b6cff;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: #324dff;
}

/* details */

body {
        font-family: Arial, sans-serif;
        background: #eef1ff;
        padding: 40px;
        text-align: center;
    }

    .student-list {
        width: 400px;
        margin: auto;
        text-align: left;
    }

    .student-row {
        background: #fff;
        padding: 12px;
        margin: 10px 0;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }

    .show-btn {
        padding: 6px 12px;
        background: #4b6cff;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }

    .show-btn:hover {
        background: #324dff;
    }

.logout-box {
    text-align: right;
    padding: 20px;
}

.logout-btn {
    background: #ff4b4b;
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.logout-btn:hover {
    background: #d63636;
}

.popup {
    background: #fff;
    width: 90%;
    max-width: 350px;
    padding: 20px;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
}

.close-btn {
    background: red;
    color: white;
    border: none;
    float: right;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 6px;
}

ul li {
    background: #e6eaff;
    margin: 6px 0;
    padding: 8px;
    border-radius: 6px;
    list-style: none;
    padding-left: 0;
}
